# Task 5

In [1]:
dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}
dict1

{'april_batch': {'student': {'name': 'Mike',
   'marks': {'python': 80, 'maths': 70}}}}

In [2]:
# 1) access "Mike"
dict1["april_batch"]["student"]["name"]

'Mike'

In [3]:
# 2) access 80
dict1["april_batch"]["student"]["marks"]["python"]

80

In [4]:
# 3) change "Mike" to "Your name"
dict1["april_batch"]["student"]["name"] = "Anvesh"
dict1

{'april_batch': {'student': {'name': 'Anvesh',
   'marks': {'python': 80, 'maths': 70}}}}

In [5]:
dict1["april_batch"]["student"]["name"]

'Anvesh'

In [6]:
# 4) add ML = 80 and mongodb = 80 inside marks
dict1["april_batch"]["student"]["marks"]["ML"] = 80
dict1["april_batch"]["student"]["marks"]["mongodb"] = 80

In [7]:
dict1

{'april_batch': {'student': {'name': 'Anvesh',
   'marks': {'python': 80, 'maths': 70, 'ML': 80, 'mongodb': 80}}}}