#### reduce()

##### The reduce() function accepts a function and a sequence and returns a single calculated value

- Initially, the function is called with the first two items from the sequence and the result is returned
- The function is then called again with the result obtained in step 1 and the next value in the sequence. This process keeps repeating until there are items in the sequence.

In [3]:
from functools import reduce

In [6]:
#ex1 - sum of seq values


list1 = [1, 2, 3, 4]

def do_sum(x1, x2): 
    return x1 + x2

list_out = reduce(do_sum, list1)
print(list_out)

10

In [8]:
# ex2 - each value power to next seq value in a list

list1 = [2, 3, 4]

def do_sum(x1, x2): 
    return x1**x2

list_out = reduce(do_sum, list1)
print(list_out)

4096

#### zip()

##### The zip() function returns a zip object, which is an iterator of tuples where the first item in each passed iterator is paired together, and then the second item in each passed iterator are paired together etc.

In [15]:
# ex1

name = [ "Anvesh", "Rajesh", "Manvith", "Arjun" ] 
roll_no = [ 4, 1, 3, 2 ] 
marks = [ 40, 50, 60, 70 ] 
  
# using zip() to map values 
mapped = zip(name, roll_no, marks) 
  
# converting values to print as tuple 
mapped = tuple(mapped) 
print(mapped)

(('Anvesh', 4, 40), ('Rajesh', 1, 50), ('Manvith', 3, 60), ('Arjun', 2, 70))

In [17]:
# ex2 
number_list = [1, 2, 3]
str_list = ['one', 'two', 'three']

# using zip() to map values 
mapped = zip(number_list, str_list) 
  
# converting values to print as set 
mapped = set(mapped) 
print(mapped)

{(3, 'three'), (1, 'one'), (2, 'two')}

#### enumerate() 

- The enumerate() function takes a collection (e.g. a tuple) and returns it as an enumerate object.

- The enumerate() function adds a counter as the key of the enumerate object.

- syntax - enumerate(iterable, start)

In [21]:
#ex1 
x = ('apple', 'banana', 'cherry')
y = enumerate(x)

print(list(y))

[(0, 'apple'), (1, 'banana'), (2, 'cherry')]

In [22]:
# ex2 
fruits = ['Mango', 'Apple', 'Orange', 'Peach']
#print(list(enumerate(fruits)))
print(list(enumerate(fruits, start=1)))

[(1, 'Mango'), (2, 'Apple'), (3, 'Orange'), (4, 'Peach')]